/*
##############
 Global CSS
##############
 */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 Fonts 
 */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Roboto:wght@400;700&family=Spectral:wght@400;700&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --red-light: #fa7e88;
  --red-dark: #842029;
  --green-light: #adfcd8;
  --green-dark: #0f5132;
  /* fonts  */
  --heading-font-1: 'Spectral', serif;
  --heading-font-2: 'Roboto', sans-serif;
  --body-font: 'Karla', sans-serif;
  --icon-font: cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --small-text: 0.7em;
  /* rest of the vars  */
  --background-color: var(--clr-grey-10);
  --text-color: var(--clr-grey-1);
  --border-radius: 0.25rem;
  --letter-spacing: 0.25rem;
  --transition: all 0.3s ease-in-out;
  --max-width: 1172px;
  --fixed-width: 600px;
  --shadow-light: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0px 5px 15px rgba(0, 0, 0, 0.3);
  /* from tailwind  */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.05);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.05);
}
body {
  background: var(--white);
  font-family: var(--heading-font-1);
  font-weight: 400;
  line-height: 1.75;
  color: var(--clr-grey-1);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  color: var(--clr-primary-1);
  font-family: var(--heading-font-1);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* img:not(.logo) {
  width: 100%;
  display: block;
  object-fit: cover;
} or*/
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons  */
.btn {
  cursor: pointer;
  color: var(--clr-primary-1);
  font-family: var(--heading-font-1);
  background: var(--clr-primary-6);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--clr-primary-1);
  box-shadow: var(--shadow-3);
  color: var(--clr-primary-6);
}
.btn-hipster {
  color: var(--clr-primary-6);
  background: var(--clr-primary-2);
}
.btn-hipster:hover {
  color: var(--clr-primary-1);
  background-color: var(--clr-primary-6);
}
.btn-block {
  width: 100%;
}
/*
alerts
 */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* show loading  */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--clr-grey-7);
  border-top-color: var(--clr-primary-4);
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}
/* heading*/
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title h1 {
  /* margin-bottom: 0; */
  color: var(--clr-primary-1);
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin: 0 auto;
  margin-top: -1.5rem;
}

/* More global css */
.section-center {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.section {
  padding-top: 3rem;
}
/*
##############
 Navbar
##############
 */
.navbar {
  background: var(--clr-white);
  height: 5.5rem;
}
.nav-center {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 3rem;
  height: 3rem;
  /* object-fit: cover; */
  image-rendering: smooth;
  border-radius: 50%;
}
.logo-text {
  font-size: 2rem;
  color: var(--clr-primary-1);
  margin: 0;
  padding-left: 1rem;
  font-family: var(--icon-font);
  font-weight: bold;
  text-shadow: 0 5px 4px #0000006d;
}
.logo span {
  color: var(--clr-primary-4);
}
.nav-links {
  font-family: var(--heading-font-1);
  display: none;
}
.toggle-btn {
  justify-self: flex-end;
  border: none;
  background: transparent;
  font-size: 2.25rem;
  color: var(--primary-800);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .navbar {
    background: var(--clr-primary-10);
  }
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  .nav-link {
    color: var(--clr-primary-1);
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
  }
  .nav-link:hover {
    color: var(--clr-primary-5);
  }
}
@media screen and (min-width: 992px) {
  .nav-center {
    padding: 1rem 0;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}
.fix-navbar {
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow-2);
  z-index: 10;
  background: var(--clr-white);
}
/* sidebar */
.sidebar {
  position: fixed;
  inset: 0;
  text-align: center;
  background: var(--clr-primary-10);
  transform: translateY(-100%);
  transition: var(--transition);
  z-index: 100;
  /* overflow: hidden; */
}
.sidebar.show {
  transform: translateY(0);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  border: transparent;
  background: transparent;
  color: var(--red-light);
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  color: var(--red-dark);
  transform: scale(1.1);
}
.sidebar-links {
  font-family: var(--heading-font-2);
  margin-top: 6rem;
}
.sidebar-links a {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  display: block;
  color: var(--clr-primary-1);
  padding: 0.25rem 1rem;
  transition: var(--transition);
}
.sidebar-links a:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-5);
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin: 3rem auto;
  position: relative;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-primary-3);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-1);
}
.hint-text {
  font-size: 0.75rem;
  font-family: var(--heading-font-1);
  /* letter-spacing: var(--letter-spacing); */
  text-transform: capitalize;
  color: var(--clr-primary-1);
  position: fixed;
  z-index: 100;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-grey-9);
  padding: 0 0.375rem;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out 1s;
  display: none;
}
.hint-text::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-grey-9);
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
}
.hint-text.show {
  display: block;
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
/*
##############
 Hero
##############
 */
.hero-title {
  display: inline-block;
  margin-bottom: 1rem;
}
.hero .underline {
  width: 9.5rem;
  margin-right: 0;
}
.hero {
  background: var(--clr-primary-9);
}
.hero-center {
  min-height: calc(100vh - 5.5rem);
  display: grid;
  place-items: center;
  padding: 0 2rem;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-icons {
  margin: 3rem 0 0 0;
  width: 100%;
}
.hero-btn {
  margin-top: 1.25rem;
}
.hero-img {
  display: none;
  position: relative;
}
.hero-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -2rem;
  right: -2rem;
  border: 5px solid var(--clr-primary-5);
  border-radius: var(--border-radius);
  /* z-index: -1; */
}
.hero-photo {
  position: relative;
  max-width: 17rem;
  max-height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--border-radius);
}
@media screen and (min-width: 768px) {
  .hero-img {
    display: block;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-icons {
    width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-icons {
    width: 100%;
  }
}
@media screen and (min-width: 1980px) {
  .hero-center {
    min-height: 100%;
  }
}
/* For hint text position to absoulte */
.hero-info {
  position: relative;
}
/*
##############
 About
##############
 */
.about {
  background: var(--clr-primary-10);
}
.about-title {
  display: inline-block;
  margin: 1rem 0 2rem 0;
  text-align: left;
}
.undeline {
  margin-left: 0;
}
.about-center {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.about-img {
  position: relative;
  margin: 3rem 0;
}
.about-photo {
  max-width: 17rem;
  max-height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  border-radius: var(--border-radius);
}
.about-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -2rem;
  right: -2rem;
  border: 5px solid var(--clr-primary-5);
  border-radius: var(--border-radius);
  /* z-index: -1; */
}
.about-btn {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .about-img {
    display: none;
  }
  .about-title {
    display: block;
    text-align: center;
    margin-bottom: 4rem;
  }
  .about-info p {
    max-width: 55em;
  }
}
/*
##############
 Skills
##############
 */
.skills-border {
  /* height: 0.85rem; */
  text-align: center;
  color: var(--clr-primary-3);
  background: linear-gradient(
    to right,
    var(--clr-primary-3),
    yellow,
    var(--clr-primary-5)
  );
}
.skills-border h4 {
  margin-bottom: 0;
  letter-spacing: var(--letter-spacing);
}
.skills {
  background: var(--clr-primary-10);
}
.skills-title {
  margin-bottom: -1rem;
}
.skills-center {
  display: grid;
}
.skill {
  padding: 2rem 1rem 0 1rem;
  text-align: center;
  height: 16rem;
  transition: var(--transition);
}
.skill i {
  color: var(--clr-primary-5);
  font-size: 3rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.skill h5 {
  color: var(--clr-primary-1);
  letter-spacing: var(--letter-spacing);
}
.skill p {
  color: var(--clr-grey-5);
}
.skill:hover {
  background: var(--clr-white);
  border-bottom: 0.25rem solid var(--clr-primary-5);
}
.skill:hover i {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .skills-center {
    grid-template-columns: 1fr 1fr;
  }
  .skill {
    height: 18rem;
    padding: 2rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  .skills-center {
    grid-template-columns: repeat(3, 1fr);
  }
  .skill {
    height: 19rem;
  }
}
/*
##############
 Projects 
##############
 */
.projects {
  background: var(--clr-primary-9);
}
.projects-code {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--fixed-width);
  /* background: var(--clr-primary-10); */
}
.projects-code .btn {
  letter-spacing: 2px;
  padding: 0.15rem 0.875rem;
}
.projects-code h4 {
  margin-bottom: 0;
}
.projects-center {
  /* background: var(--clr-primary-10); */
}
.projects-center > h2 {
  color: var(--clr-primary-1);
  padding: 3rem 1rem 0rem 1rem;
  margin-bottom: 0;
}
.projects-container {
  padding: 1rem;
}
.project {
  align-self: start;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  transition: var(--transition);
}
.project:hover {
  box-shadow: var(--shadow-dark);
}
.project-info {
  padding: 0.5rem 1rem 1rem 1rem;
  background: var(--clr-white);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.project-img {
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.project-info h4 {
  color: var(--clr-primary-1);
  margin-bottom: 1rem;
}

.stack {
  display: grid;
  grid-template-columns: auto 1fr;
}
.stack p {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}
.tech-stack {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--clr-primary-5);
}
.tech-stack p {
  /* margin-left: 2rem; */
}
.project-btn-container {
  display: flex;
  justify-content: space-between;
}
.project-btn-container a {
  font-size: 0.85rem;
  padding: 0.15rem 0.375rem;
  letter-spacing: 1px;
}
.projects-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.projects-container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .projects-container:not(.basic-projects) {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .projects-container:not(.basic-projects) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Making basic projects section slider */
.scroll-wrapper {
  overflow: hidden;
}
.basic-projects {
  display: flex;
  /* overflow-x: auto; */
}
.basic-projects .project-img {
  min-width: 23rem;
}
.projects-page {
  padding-bottom: 3rem;
}

/*
##############
contact 
##############
 */
.contact {
  background: var(--clr-primary-10);
}
.contact-center {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.contact-info {
  padding: 0 1rem;
}
.contact-center h4 {
  margin-bottom: 0;
}
.contact-form {
  padding: 1rem;
}
.form {
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  padding: 1rem;
  transition: var(--transition);
}
.form:hover {
  box-shadow: var(--shadow-dark);
}
.form-label {
  display: block;
  font-size: var(--small-text);
  color: var(--clr-primary-1);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
  border: 1px solid var(--gray-200);
}
.form-row {
  margin-bottom: 1rem;
}
::placeholder {
  font-family: inherit;
  text-transform: capitalize;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 678px) {
  .contact-center {
    padding: 0 2rem 3rem 2rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 868px) {
  .contact-center {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
/*
##############
 single Project
##############
 */
.single-project {
  background: var(--clr-primary-10);
}

.single-project-container {
  padding: 0 1rem 5rem 1rem;
}
.single-project img {
  height: 16rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .single-project-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .single-project img {
    height: auto;
  }
}
/*
##############
 footer 
##############
 */
.footer {
  background: var(--clr-primary-1);
  display: grid;
  place-content: center;
  padding: 3rem 1rem;
  text-align: center;
}
.footer-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.footer-link {
  color: var(--clr-white);
  font-size: 1rem;
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary-5);
}
.footer-icons .social-icon {
  color: var(--clr-primary-4);
}
.footer-icons .social-icon:hover {
  color: var(--clr-primary-10);
}
.footer-text {
  letter-spacing: 2px;
  text-transform: capitalize;
  color: var(--clr-white);
}
@media screen and (min-width: 568px) {
  .footer-links {
    gap: 2rem;
  }
  .footer-link {
    font-size: 1.5rem;
  }
}
