/*
##############
 Hero
##############
 */
.hero-title {
  display: inline-block;
  margin-bottom: 1rem;
}
.hero .underline {
  width: 9.5rem;
  margin-right: 0;
}
.hero {
  position: relative;
  background: var(--clr-primary-9);
}
.hero-center {
  min-height: calc(100vh - 5.5rem);
  display: grid;
  place-items: center;
  padding: 0 2rem;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-icons {
  margin: 3rem 0 0 0;
  width: 100%;
}
.hero-btn {
  margin-top: 1.25rem;
}
.hero-img-container {
  display: none;
  width: 18rem;
  height: 16rem;
  overflow: hidden;
  position: relative;
}
.hero-pic {
  filter: drop-shadow(0px 0px 5px var(--clr-primary-9))
    drop-shadow(0px 5px 10px var(--clr-primary-1));
  position: relative;
  z-index: 6;
}
.hero-blob {
  content: "";
  position: absolute;
  width: 12rem;
  left: 3rem;
  top: 2rem;
  aspect-ratio: 1/1;
  background: linear-gradient(0deg, var(--clr-primary-1), var(--clr-primary-4));
  z-index: 5;
  border-radius: 70% 30% 37% 63% / 39% 36% 64% 61%;
  animation:
    animateBlob 8s ease-in-out infinite,
    rotateBlob 25s linear infinite;
  box-shadow: 2px 2px 15px var(--clr-primary-4);
}
@keyframes animateBlob {
  0%,
  100% {
    border-radius: 70% 30% 37% 63% / 39% 36% 64% 61%;
  }
  50% {
    border-radius: 34% 66% 59% 41% / 73% 66% 34% 27%;
  }
}
@keyframes rotateBlob {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .hero-img-container {
    display: block;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-icons {
    width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-icons {
    width: 100%;
  }
}
@media screen and (min-width: 1980px) {
  .hero-center {
    min-height: 100%;
  }
}
/* For hint text position to absolute */
.hero-info {
  position: relative;
}
/* dark theme */
.theme {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 6rem;
  right: 2rem;
  outline: 2px solid var(--clr-primary-2);
  padding: 0 0.5rem;
  border-radius: 1rem;
  z-index: 100;
}
.theme-text {
  text-transform: capitalize;
  color: var(--clr-primary-2);
}
.theme-color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.theme .light {
  background: var(--clr-primary-5);
}
.theme .dark {
  background: var(--clr-black);
}
