/*
##############
 About
##############
 */
.about {
  position: relative;
  background: var(--clr-primary-10);
}
.about .shape-fill {
  fill: var(--clr-primary-9);
}
.about-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-wave svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 93px;
}
.about-title {
  display: inline-block;
  margin: 1rem 0 2rem 0;
  text-align: left;
}
.about-center {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.about-img {
  position: relative;
  margin: 3rem 0;
}
.about-photo {
  max-width: 17rem;
  max-height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  border-radius: var(--border-radius);
}
.about-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -2rem;
  right: -2rem;
  border: 5px solid var(--clr-primary-5);
  border-radius: var(--border-radius);
  /* z-index: -1; */
}
.about-btn {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .about-img {
    display: none;
  }
  .about-title {
    display: block;
    text-align: center;
    margin-bottom: 4rem;
  }
  .about-info p {
    max-width: 55em;
  }
}
