/*
##############
 Skills
##############
 */
.skills {
  background: var(--clr-primary-9);
}
.stacked-waves {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  height: 4.5rem;
}
.layer1 {
  background-image: url("/stacked-waves-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills-center {
  padding: 2rem 1rem;
}
.skills-center h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.skill-cards {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.skill-card {
  background: var(--clr-primary-10);
  border: 1px solid var(--clr-grey-8);
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: var(--shadow-light);
  transition: var(--transition);
}
.skill-card:hover {
  box-shadow: var(--shadow-dark);
  transform: translateY(-2px);
}

.skill-heading {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.skill-card h4 {
  font-weight: 700;
  margin: 0;
  margin-bottom: -8px;
}
.skill-card i {
  color: var(--clr-primary-5);
  font-size: 1.5rem;
  margin-top: 0.25rem;
  transition: var(--transition);
}
.skill-heading span {
  font-size: var(--small-text);
  color: var(--clr-grey-5);
  font-family: var(--heading-font-2);
}
.skill-names {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.skill-names span {
  background: var(--clr-primary-9);
  border: 1px solid var(--clr-grey-8);
  font-size: 0.8rem;
  padding: 0.15rem 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  transition: transform 0.2s ease-in;
}
.skill-names span:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 640px) {
  .skill-card {
    width: max-content;
    flex: auto;
  }
  .skill-card:nth-child(1) {
    width: 14rem;
  }
  .skill-card:nth-child(2) {
    width: 20rem;
  }
  .skill-card:nth-child(3) {
    width: 20rem;
  }
  .skill-card:nth-child(4) {
    width: 18rem;
  }
}
@media screen and (min-width: 768px) {
  .skill-card:nth-child(4) {
    width: 24rem;
    flex-grow: 0;
  }
}
