.section-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.section-wave svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 93px;
}
