.section-wave {
  width: 100%;
  overflow: hidden;
  margin-bottom: -3rem;
}
.section-wave svg {
  width: 130%;
  height: 100px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 25rem;
  margin-inline: auto;
  position: relative;
  margin-top: 3rem;
  padding: 0 2.5rem;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-primary);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-hover);
}

.tooltip {
  position: fixed;
  transform: translateX(-50%);
  background: var(--clr-primary);
  color: var(--clr-bg-light);
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: bold;
  pointer-events: none;
  padding: 0.15rem 1rem;
  border-radius: 0.5rem;
  z-index: 999;
  display: none;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: inherit;
  width: 0.5rem;
  height: 0.5rem;
  z-index: -1;
}
.tooltip.active {
  display: block;
}
