.section-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.hero {
  transition: all 5s ease;
}
.hero:hover {
  /* background: blue; */
}

.section-wave svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 93px;
}
.tooltip {
  position: fixed;
  transform: translateX(-50%);
  background: var(--clr-primary-2);
  color: var(--clr-primary-9);
  text-transform: capitalize;
  font-size: 0.75rem;
  pointer-events: none;
  padding: 0.15rem 1rem;
  border-radius: 0.5rem;
  z-index: 999;
  display: none;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: inherit;
  width: 0.5rem;
  height: 0.5rem;
  z-index: -1;
}
.tooltip.active {
  display: block;
}
