/*
##############
contact 
##############
 */
.contact {
  position: relative;
  background: var(--clr-bg);
}
.contact .shape-fill {
  fill: var(--clr-bg);
}
.contact-center {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.contact-info {
  padding: 0 1rem;
}
.contact-center h4 {
  margin-bottom: 0;
}
.contact-form {
  padding: 1rem;
}
.form {
  max-width: var(--fixed-width);
  background: var(--clr-bg-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  padding: 2rem 1.5rem;
  transition: var(--transition);
}
.form:hover {
  box-shadow: var(--shadow-dark);
}
.form-label {
  display: block;
  font-size: var(--small-text);
  color: var(--clr-text-muted);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  /* font-size: s; */
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  color: var(--clr-text);
  background: var(--clr-white);
  border: 1px solid var(--clr-border);
  font-family: var(--body-font);
  box-shadow: var(--shadow-light);
}
.form-row {
  margin-bottom: 1.25rem;
}
::placeholder {
  font-size: small;
  letter-spacing: 1px;
  font-family: inherit;
  text-transform: capitalize;
  color: var(--clr-text-muted);
}
@media screen and (min-width: 678px) {
  .contact-center {
    padding: 0 2rem 3rem 2rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 868px) {
  .contact-center {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
