/*
##############
 Navbar
##############
 */
.navbar {
  background: var(--clr-primary-9);
  height: 5.5rem;
}
.nav-center {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 3rem;
  height: 3rem;
  /* object-fit: cover; */
  image-rendering: smooth;
  border-radius: 50%;
}
.logo-text {
  font-size: 2rem;
  color: var(--clr-primary-1);
  margin: 0;
  padding-left: 1rem;
  font-family: var(--icon-font);
  font-weight: bold;
  text-shadow: 0 5px 4px #0000006d;
}
.logo span {
  color: var(--clr-primary-4);
}
.nav-links {
  font-family: var(--heading-font-1);
  display: none;
}
.toggle-btn {
  justify-self: flex-end;
  border: none;
  background: transparent;
  font-size: 2.25rem;
  color: var(--clr-primary-1);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  .nav-link {
    color: var(--clr-primary-1);
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
  }
  .nav-link:hover {
    color: var(--clr-primary-5);
  }
}
@media screen and (min-width: 992px) {
  .nav-center {
    padding: 1rem 0;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}
.fix-navbar {
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow-light);
  z-index: 10;
  background: var(--clr-primary-10);
}
