/*
##############
 Projects 
##############
 */
.projects {
  position: relative;
  background: var(--clr-bg);
}
.projects .shape-fill {
  fill: var(--clr-bg-dark);
}
.projects-code {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--fixed-width);
  /* background: var(--clr-primary-10); */
}
.projects-code .btn {
  letter-spacing: 2px;
  padding: 0.15rem 0.875rem;
}
.projects-code h4 {
  margin-bottom: 0;
}
.projects-center > h2 {
  padding: 3rem 1rem 0rem 1rem;
  margin-bottom: 0;
}
.projects-container {
  padding: 1rem;
}
.project {
  background: var(--clr-bg-light);
  align-self: start;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  transition: var(--transition);
}
.project:hover {
  box-shadow: var(--shadow-dark);
}
.project-info {
  padding: 0.5rem 1rem 1rem 1rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.project-img {
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.project-info h4 {
  margin-bottom: 1rem;
}

.stack {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 1rem;
}
.stack span {
  text-transform: capitalize;
}
.tech-stack {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: var(--clr-primary);
}
.tech-stack span {
  min-width: fit-content;
}
.project-btn-container {
  display: flex;
  justify-content: space-between;
}
.project-btn-container-flag {
  justify-content: center;
}
.project-btn-container a {
  font-size: 0.85rem;
  padding: 0.15rem 0.375rem;
  letter-spacing: 1px;
}
.projects-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.projects-container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .projects-container:not(.basic-projects) {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .projects-container:not(.basic-projects) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Making basic projects section slider */
.scroll-wrapper {
  overflow: hidden;
}
.basic-projects {
  display: flex;
  /* overflow-x: auto; */
}
.basic-projects .project-img {
  min-width: 23rem;
}
.projects-page {
  padding-bottom: 3rem;
}
