/*
##############
 footer 
##############
 */
.footer {
  background: var(--clr-bg-dark);
  display: grid;
  place-content: center;
  padding: 3rem 1rem;
  text-align: center;
  border-top: 1px solid var(--clr-border);
}
.footer-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.footer-link {
  color: var(--clr-text);
  font-size: 1rem;
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary);
}
.footer-icons .social-icon {
  color: var(--clr-primary);
}
.footer-icons .social-icon:hover {
  color: var(--clr-primary-hover);
}
.footer-text {
  font-family: var(--body-font);
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (min-width: 568px) {
  .footer-links {
    gap: 2rem;
  }
  .footer-link {
    font-size: 1.5rem;
  }
}
