/*
##############
 footer 
##############
 */
.footer {
  background: var(--clr-bg-dark);
  display: grid;
  place-content: center;
  text-align: center;
  border-top: 1px solid var(--clr-border);
}
.footer-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.footer-link {
  color: var(--clr-text);
  font-size: 1rem;
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary);
}
.footer-icons {
  margin-top: 2rem;
  width: 100%;
}
.footer-text {
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin-top: 1rem;
}
.footer-text .date {
  margin-left: 0.5rem;
}
@media screen and (min-width: 568px) {
  .footer-links {
    gap: 2rem;
  }
  .footer-link {
    font-size: 1.5rem;
  }
}
