/*
##############
 Global CSS
##############
 */
/*
 Fonts 
 */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Comic+Relief:wght@400;700&family=Roboto:wght@400;700&family=Spectral:wght@400;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
} /*16px*/

:root {
  /* theme color - default: dark*/
  --clr-bg-light: hsl(205, 100%, 12%);
  --clr-bg: hsl(205, 100%, 10%);
  --clr-bg-dark: hsl(205, 100%, 8%);
  --clr-text: hsl(209, 100%, 98%);
  --clr-text-muted: hsl(209, 30%, 70%);
  --clr-primary: hsl(209, 100%, 55%);
  --clr-primary-hover: hsl(209, 100%, 65%);
  --clr-secondary: hsl(189, 94%, 43%);
  --clr-secondary-hover: hsl(189, 94%, 53%);
  --clr-border: hsl(209, 30%, 40%);
  --clr-border-hover: hsl(209, 30%, 60%);
  --clr-highlight: hsl(209, 30%, 70%);

  /* Regular color */
  --clr-white: #fff;
  --clr-black: #222;
  --clr-success: hsl(153, 93%, 83%);
  --clr-warning: hsl(0, 100%, 71%);
  --clr-danger: hsl(355, 61%, 32%);
  --clr-info: hsl(153, 99%, 54%);

  /* Derived variable */
  --clr-surface: var(--clr-bg);

  /* fonts  */
  --heading-font-1: "Comic Relief", system-ui;
  --heading-font-2: "Spectral", serif;
  --heading-font-3: "Roboto", serif;
  --body-font: "Karla", sans-serif;
  --small-text: 0.7em;
  /* rest of the vars  */
  --border-radius: 0.25rem;
  --letter-spacing: 0.25rem;
  --transition: all 0.3s ease-in-out;
  --max-width: 1172px;
  --fixed-width: 600px;
  --shadow-light: 2px 5px 12px rgba(0, 0, 0, 0.1);
  --shadow-dark: 4px 8px 20px rgba(0, 0, 0, 0.2);
  /* from tailwind  */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.05);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.05);
}
.theme-light {
  /* theme color */
  --clr-bg-light: hsl(205, 100%, 98%);
  --clr-bg: hsl(205, 100%, 95%);
  --clr-bg-dark: hsl(203, 100%, 92%);
  --clr-text: hsl(209, 61%, 16%);
  --clr-text-muted: hsl(209, 34%, 30%);
  --clr-primary: hsl(205, 100%, 25%);
  --clr-primary-hover: hsl(205, 100%, 15%);
  --clr-secondary: hsl(189, 94%, 43%);
  --clr-secondary-hover: hsl(189, 94%, 53%);
  --clr-border: hsl(209, 50%, 75%);
  --clr-border-hover: hsl(209, 50%, 75%);
  --clr-highlight: var(--clr-bg);
}
body {
  background: var(--clr-bg-light);
  font-family: var(--heading-font-1);
  font-weight: 400;
  line-height: 1.75;
  color: var(--clr-text);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  color: var(--clr-text-muted);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  color: var(--clr-text);
  font-family: var(--heading-font-1);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* img:not(.logo) {
  width: 100%;
  display: block;
  object-fit: cover;
} or*/
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons  */
.btn {
  cursor: pointer;
  font-family: var(--heading-font-1);
  background: var(--clr-primary);
  color: var(--clr-bg);
  font-weight: normal;
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--clr-primary-hover);
  box-shadow: var(--shadow-3);
  color: var(--clr-bg);
}
.btn-hipster {
  color: var(--clr-text);
  background: var(--clr-secondary);
}
.btn-hipster:hover {
  background-color: var(--clr-secondary-hover);
}
.btn-block {
  width: 100%;
}
/* loading spinner */
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--clr-border);
  border-top-color: var(--clr-primary);
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* heading*/
.section-title {
  text-align: center;
  margin-bottom: 3rem;
  text-decoration: underline 5px var(--clr-primary);
  text-underline-offset: 0.45em;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-primary);
  margin: 0 auto;
  margin-top: -1.5rem;
}

/* More global css */
.section-center {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.section {
  padding: 4rem 0;
}
